@charset "utf-8";

/*=============================================
=                Animation block              =
=============================================*/

@keyframes opacity-from-1-to-0 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes logo-shake {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(20deg);
    }
    66% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

/*=====     End of Animation block     ======*/

/*=============================================
=           Animation classes block           =
=============================================*/

.logo-anime {
    // animation: logo-shake 10s timing-function delay iteration-count direction fill-mode;
    animation: logo-shake 1.5s ease-in-out infinite alternate;
}

.opacity-1-0-anime {
    animation: opacity-from-1-to-0 1.5s;
}

/*====  End of Animation classes block  ====*/
