@charset "utf-8";

/*=============================================
=                 Decorators                  =
=============================================*/

%#{pt-prefix}decorated-outline {
    outline: $outline-1;
    box-shadow: 0 0 2px 2px #fff;
    // outline: 1px solid #4c421a;
    // outline: 1px solid #ef2e55;
}

%#{pt-prefix}panel-decoration {
    background: $color-1;
    padding: 10px;
}

%#{pt-prefix}panel-decoration-2 {
    background: $color-5;
    padding: 10px;
}

/*=====       End of Decorators       ======*/
