@charset "utf-8";

/*=============================================
=               Drawing block                 =
=============================================*/

.#{$pt-prefix}drawing-block {
    display: flex;
    background: $color-1;
    margin-bottom: 1.5rem;

    & > * {
        margin-left: 1px;
    }

    .#{$pt-prefix}canvas-container {
        @extend %#{pt-prefix}decorated-outline;
        width: 1602px;
        height: 950px;
        background-color: $color-1;
        padding: 10px;

        .#{$pt-prefix}canvas-container-inner {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: $color-5;
            overflow: auto;
            outline: $outline-1;
        }

        canvas {
            // width: 1580px;
            // height: 930px;
            width: 100%;
            height: 100%;
            background-color: $white;
            outline: $outline-1;
        }

        &.#{$pt-prefix}vertical-split {
            // width: 795px;
            width: 800px;

            // canvas {
            //     width: 773px;
            // }
        }

        &.#{$pt-prefix}horizontal-split {
            height: 469px;

            // canvas {
            //     height: 449px;
            // }
        }
    }

    .#{$pt-prefix}drawing-canvas-block {
        margin-top: -1px;

        & > * {
            margin-top: 1px;
        }

        .#{$pt-prefix}drawing-block-gap {
            width: 100%;
            height: 10px;
        }
    }

    .#{$pt-prefix}tool-settings-block {
        @extend %#{pt-prefix}decorated-outline;
        @extend %#{pt-prefix}panel-decoration;
        flex: 1;
        color: rgba(0, 0, 0, 0.7);

        .#{$pt-prefix}tool-settings-inner-block {
            @extend %#{pt-prefix}panel-decoration-2;
            height: 100%;
            outline: $outline-1;

            input[type="range"] {
                &.slider {
                    margin: 0;
                }
            }

            & .label,
            h4 {
                font-size: 1.25rem;
                font-weight: normal;
                color: #4a4a4a;
            }

            .#{$pt-prefix}tool-settings-block-line {
                display: flex;
                align-items: center;
                margin-bottom: 0.75rem;

                & > *:not(last-child) {
                    margin-right: 7px;
                }
            }

            // !Moving thumb
            // !Don't remove
            // input[type="range"] {
            //     &.slider {
            //         margin: 0;
            //     }

            //     &.has-output + output {
            //         position: absolute;
            //         top: -1.45rem;
            //         left: -2.1rem;
            //     }
            // }
        }

        .#{$pt-prefix}drawing-block-gap {
            @extend %#{pt-prefix}decorated-outline;
            width: 10px;
            transform: translate(0, 0);
        }
    }
}

/*=====       End of drawing block      ======*/
