@charset "utf-8";

/*=============================================
=               Gallery block                 =
=============================================*/

.#{$pt-prefix}gallery-wrapper {
    height: 100%;
}

.#{$pt-prefix}gallery {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    & > * {
        margin-bottom: 20px;
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .card {
        width: 400px;
        height: 400px;
    }
    .card-image {
        height: 235px;
    }

    .card-content {
        .media-content {
            .title.is-4 {
                width: 352px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}

/*=====      End of Gallery block      ======*/
