@charset "utf-8";

/*=============================================
=               Gallery block                 =
=============================================*/

.#{$pt-prefix}gallery-wrapper {
    height: 100%;
}

.#{$pt-prefix}gallery {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    & > * {
        margin-bottom: 20px;
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .card-image {
        width: 400px;
        height: 235px;
    }
}

/*=====      End of Gallery block      ======*/
