@charset "utf-8";

/*=============================================
=               Helpers block                 =
=============================================*/

// .#{$pt-prefix}helper-uni-indent-1 {
//     padding: 1.5rem 0;
// }

.#{$pt-prefix}helper-no-bg {
    background: none !important;
    &:hover {
        background: none !important;
    }
}

.#{$pt-prefix}helper-pos-rel {
    position: relative;
}

/*=====      End of Helpers block      ======*/
