@charset "utf-8";

/*=============================================
=               Helpers block                 =
=============================================*/

.#{$pt-prefix}helper-no-bg {
    background: none !important;
    &:hover {
        background: none !important;
    }
}

.#{$pt-prefix}helper-width-auto {
    width: auto !important;
}

/*=====      End of Helpers block      ======*/
