@charset "utf-8";

/*=============================================
=              Loading block                 =
=============================================*/

.#{$pt-prefix}loader-wrapper {
    position: fixed;
    z-index: $modal-z;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $modal-background-background-color;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
        height: 60px;
        width: 60px;
        border-width: 4px;

        border-color: #e91e63;
        border-right-color: transparent;
        border-top-color: transparent;
    }
}

/*=====     End of loading block     ======*/
