@charset "utf-8";

/*=============================================
=                 Tools panel                 =
=============================================*/

.#{$pt-prefix}tools-panel {
    position: absolute;
    top: 108px;
    left: 5px;
    width: 38px;
    display: flex;
    flex-direction: column;
    background-color: $color-2;
    @extend %#{pt-prefix}decorated-outline;

    & .#{$pt-prefix}tools-panel-plate {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 38px;
        background-color: #f4af4f;
        margin-bottom: 1px;
        color: $color-2;

        &:last-child {
            margin-bottom: 0;
        }

        & a {
            font-size: 1.75rem;
            line-height: 1;
            color: $color-2;

            &:hover {
                color: $color-4;
            }
        }

        & svg {
            width: 30px;

            &:hover {
                color: $color-4;
            }
        }
    }

}

.#{$pt-prefix}tools-tab-hover {
    background-color: $color-2 !important;

    & a {
        color: $color-4 !important;
        cursor: default;
    }
}

.#{$pt-prefix}drag-plate {
    height: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2px;
    cursor: grabbing;

    & > div {
        width: 90%;
        height: 1px;
        background-color: $white;
    }
}

/*=====       End of Tools panel       ======*/
