@charset "utf-8";

/*=============================================
=                Local variables              =
=============================================*/

$pt-prefix: "pt-";
$color-1: #f5b041;
// $color-2: #2e0875;
$color-2: #141753;
$color-3: #3273dc;
$color-4: #db4404;
$color-5: #d8d8d8;
$bg-1: linear-gradient(180deg, #151752 0%, #090979 35%, #e91e63 100%);
// $bg-1: linear-gradient(180deg, #2e0875 0%, #121242 35%, #e91e63 100%);
$outline-1: 1px solid #260f33;

/*=====     End of local variables     ======*/
