@charset "utf-8";

@import "~bulma/sass/utilities/derived-variables";
@import "./variables";

/*=============================================
=               Hidden classes                =
=============================================*/

%#{pt-prefix}decorated-outline {
    outline: 1px solid #260f33;
    box-shadow: 0 0 2px 2px #fff;
    // outline: 1px solid #4c421a;
    // outline: 1px solid #ef2e55;
}

%#{pt-prefix}relative-block {
    position: relative;
}

/*=====     End of Hidden classes      ======*/

.timer-block {
    color: #282c34;
    background-color: aquamarine;
    padding: 10px;
}

.appLoaderWrapper {
    position: fixed;
    z-index: 999998;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 209, 178, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;

    .loader {
        height: 60px;
        width: 60px;
        border-width: 4px;
    }

    &.is-active {
        background-color: rgba(0, 209, 178, 0.35);
    }
}

#paw-touch {
    @extend %#{pt-prefix}relative-block;

    .hero-head {
        padding: 1.5rem 2.5em;
    }

    .hero-body {
        padding: 0 3em;
    }

    .hero-foot {
        padding: 1.5rem 3em;
    }
}

##{$pt-prefix}logo {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #f5b041;
    border: 2px solid #fff;

    // transform-origin: 50% 100%;
    // transition: transform 3s;
    animation: opacity-from-1-to-0 3s infinite alternate;

    &:hover {
        // opacity: 0;
        // transform: rotate(360deg);
        // transform: translate(10px, 20px);
        // transform: perspective(20px);
        animation: opacity-from-1-to-0 3s infinite alternate;
    }

    circle {
        // animation: opacity-from-1-to-0 3s infinite;
        // transition: opacity 3s;
        transform-origin: 50% 100%;
        transition: transform 3s;
    }

    &:hover circle {
        // opacity: 0;
        transform: rotate(360deg);
        // transform: perspective(20px);
    }
}

.#{$pt-prefix}canvas-container-split,
.#{$pt-prefix}canvas-container {
    @extend %#{pt-prefix}relative-block;
    width: 100%;
    align-self: stretch;

    canvas {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        @extend %#{pt-prefix}decorated-outline;
    }
}

.#{$pt-prefix}canvas-container-split {
    display: flex;
    justify-content: space-between;

    & > div {
        flex: 1 1 100%;
        @extend %#{pt-prefix}relative-block;
        // background-color: #2e0875; //!Good color / Don't delete

        &:nth-child(2) {
            flex: 0 0 10px;
            background-color: #f5b041;
            @extend %#{pt-prefix}decorated-outline;
        }
    }
}

.#{$pt-prefix}horizontal-split {
    flex-direction: column;

    & > div {
        &:nth-child(2) {
            margin: 4px 0;
        }
    }
}

.#{$pt-prefix}vertical-split {
    & > div {
        height: 100%;

        &:nth-child(2) {
            margin: 0 4px;
        }
    }
}

.#{$pt-prefix}on-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4f38a1;
    z-index: 100;
}

.#{$pt-prefix}on-top-canvas {
    padding: 100px 50px;

    .#{$pt-prefix}canvas-container {
        height: 100%;
    }

    .#{$pt-prefix}navbar {
        position: absolute;
        left: 50px;
        width: calc(100% - 100px);
        height: 40px;
    }

    .#{$pt-prefix}navbar-top {
        top: 30px;
    }

    .#{$pt-prefix}navbar-bottom {
        bottom: 30px;
    }
}

/*=============================================
=                 Tools panel                 =
=============================================*/

.#{$pt-prefix}tools-panel {
    position: absolute;
    top: 124px;
    left: 4px;
    width: 38px;
    // height: 50%;
    display: flex;
    flex-direction: column;
    background-color: #2e0875;
    @extend %#{pt-prefix}decorated-outline;

    & .#{$pt-prefix}tools-panel-plate {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 38px;
        background-color: #f4af4f;
        margin-bottom: 1px;
        color: #2e0875;

        &:last-child {
            margin-bottom: 0;
        }

        & a {
            font-size: 1.75rem;
            line-height: 1;

            &:hover {
                color: #db4404;
            }
        }

        & svg {
            width: 30px;

            &:hover {
                color: #db4404;
            }
        }
    }

    // & > .#{$pt-prefix}tools-panel-brush {
    //     background: #fff url("../images/paint-brush-solid.svg") no-repeat 50%
    //         50%;
    //     background-size: 75%;
    //     filter: invert(27%) sepia(51%) saturate(2878%) brightness(104%)
    //         contrast(97%);
    // }
}

.#{$pt-prefix}drag-plate {
    height: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2px;

    & > div {
        width: 90%;
        height: 1px;
        background-color: #fff;
    }
}

/*=====       End of Tools panel       ======*/

/*=============================================
=           Bulma styles correction           =
=============================================*/

.#{$pt-prefix}main-navigation {
    .navbar-start {
        & > .navbar-item {
            color: $white !important;
            .navbar-link {
                color: $white !important;
            }
            &:hover,
            &:focus,
            &.is-active {
                color: $text-strong !important;
                .navbar-link {
                    color: $text-strong !important;
                }
            }
        }
    }
}

/*=====  End of Bulma styles correction  =====*/

/*=============================================
=               Helpers block                 =
=============================================*/

// .#{$pt-prefix}helper-uni-indent-1 {
//     padding: 1.5rem 0;
// }

.#{$pt-prefix}helper-no-bg {
    background: none !important;
    &:hover {
        background: none !important;
    }
}

/*=====      End of Helpers block      ======*/

/*=============================================
=                Animation block              =
=============================================*/

@keyframes opacity-from-1-to-0 {
    // 0%,
    // 100% {
    //     opacity: 1;
    // }
    // 50% {
    //     opacity: 0;
    // }

    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*=====        Animation block         ======*/
